*{
    margin: 0%;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    /* background-color:#191A19; */
}
/* #region nav-bar */
.nav-wrapper{
    width: 100%;
    height: auto;
    display:inline-block;
    position: relative;
    text-align: center;
    margin: 0 auto; 
    background-color: #191A19;
    left:0; 
    white-space:nowrap; 
    
}
.nav-wrapper a{
    text-decoration: none;
    color: darkgray;
}

.figure-logo{
    display: flex;
    color: #4E9F3D;
    align-items: center;
    margin-left: 5rem;
}

.nav-options{
    list-style: none;
    height: auto;
    width: auto;
    display: inline-block;
    white-space:nowrap; 
    gap: 2%;
    /* border: 1px white solid; */
}
.nav-options li {
    display: inline-block;
    position: relative;
    white-space:nowrap; 
}
.nav-options li a{
    display: inline-block;
    position: relative;
    z-index: 1;
    padding: 1em;
    white-space:nowrap; 
}
.nav-options li a:hover{
    background-color: #4E9F3D;
    color: black;
}
/* #endregion */

/* #region contacto */
#contacto{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: black;
    color: #D8E9A8;    
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 1rem;
}
.large-round{
    border: 15px #4E9F3D solid;
    width: fit-content;
    border-radius: 50%;
}
.small-round{
    border: 10px #1E5128 solid;
    border-radius: 50%;
}
.small-round img{
    border-radius: 50%;
}
.card-body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fullname{
    margin-bottom: 1rem;
}

.redes{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.redes div{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: -10px;
}
/* #endregion */

/* #region about */
#about{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background-color: #191A19;
    color: #D8E9A8;
}

.my-info{
    text-align: center;
    /* padding-left: 20rem;
    padding-right: 20rem; */
}
/* #endregion */

/* #region skills */
.info{
    background-color: #191A19;
    display: flex; 
    flex-direction: column;
    color: #D8E9A8;
    padding: 2rem;
}
.info-header{
    text-align: center;
}
.info-section{
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.info-section-child{
    margin: 1rem;
    display: flex;
    flex-direction: column;
    text-align: left;
}
.info-section-child ul{
    margin: 1rem;
    display: inline-block;
    white-space: nowrap;
}
.child{
    padding: 1rem;
    background-color: #05142b;
    margin-bottom: 1rem;
}
.child:hover{
    padding: 1rem;
    border: 1px #4E9F3D solid;
}
.responsive{
    width: 100%;
    max-width: 600;
    height: auto;
}

/* #endregion */

/* #region proyectos */
#proyectos{
    background-color: #191A19;
}
.proyects-section{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 5rem;
}

.proyect{
    border: 1px yellow solid;
    width: 100%;
    height: 300px;
}
.proyect:hover{
    border: 1px green solid;
    opacity: 50%;
}

/* #endregion */